@charset "utf-8";

body{
    max-width: 750px;
    height: 3000px;
    background-color: #ffffff;
    font-size: small;
}

img{
    width: 100px;
    height: 100px;
    opacity: 50%;
}

p{
    max-width: 750px;
}

iframe{
    display: none;
}